---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import {
  switchLang,
  useTranslations,
  getLangFromUrl,
  localizedPath,
} from "@i18n/utils";
import { SITE } from "@consts";

const lang = getLangFromUrl(Astro.url.pathname);
const t = useTranslations(lang);
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href={localizedPath("/", lang)} underline={false}>
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1 items-center">
        <Link href={localizedPath("/blog", lang)}> {t("header.blog")} </Link>
        <span>
          {`/`}
        </span>
        <Link href={localizedPath("/work", lang)}> {t("header.work")} </Link>
        {
          SITE.PROJECTS_ENABLED && (
            <>
              <span>{`/`}</span>

              <Link href={localizedPath("/projects", lang)}>
                {" "}
                {t("header.projects")}{" "}
              </Link>
            </>
          )
        }
        <span class="text-gray-400">
          {`| `}
        </span>
        <Link
          href={switchLang(Astro.url.pathname)}
          title={t("header.lang.switch")}
        >
          {lang === "ru" ? "en" : "ru"}
        </Link>
      </nav>
    </div>
  </Container>
</header>
