---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { dateRange } from "@lib/utils";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { WORK } from "@consts";
import { getWorkData } from "@lib/work";

const lang = getLangFromUrl(Astro.url.pathname);
const t = useTranslations(lang);
const work = await getWorkData(lang);

const title = t("work.title");
const description = WORK.DESCRIPTION;

const renderedWork = await Promise.all(
  work.map(async (entry) => {
    const { Content } = await entry.render();
    return { entry, Content };
  })
);
---

<PageLayout {title} {description}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        {t("work.heading")}
      </div>
      <ul class="flex flex-col space-y-4">
        {
          renderedWork.map(({ entry, Content }) => (
            <li class="animate">
              <div class="text-sm opacity-75">
                {dateRange(entry.data.dateStart, entry.data.dateEnd, lang)}
              </div>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.company}
              </div>
              <div class="text-sm opacity-75">
                {entry.data.role}
              </div>
              <article>
                <Content />
              </article>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>